html {
    height: 100%;
    width: 100%;
    margin: 0;
    border: 1px solid red;
}

body {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
    margin: 0;
}

table {
    width: 30%;
    border: 2px solid black;
    border-collapse: collapse;
}

th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}