<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUDLFT Club Points Board</title>
</head>
<body>
    <h1>Clubs Points</h1>
    <a href="{{ url_for('index') }}">Back to login page</a>
    <br>
    <br>
    <table>
        <tr>
            <th>Club</th>
            <th>Remaining Points</th>
        {% for club in clubs_points %}
        <tr>
            <td>{{ club }}</td>
            <td>{{ clubs_points[club] }}</td>
        </tr>
        {% endfor %}
        </tr>
    </table>
</body>
</html>